* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e9e9e9;
}
body {
  background-color: #222222;
}
a {
  text-decoration: none;
  outline: none;
}

@font-face {
  src: url(../fonts/NeueHaasDisplay-Bold.ttf);
  font-family: 'Neue Haas Grotesk';
}
@font-face {
  src: url(../fonts/ArialMT.ttf);
  font-family: 'Arial regular';
}
@font-face {
  src: url(../fonts/Arial-BoldMT.ttf);
  font-family: 'Arial bold';
}

@mixin neueHaasFont($font-size, $line-height) {
  font-family: 'Neue Haas Grotesk';
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}
@mixin arialBold {
  font-family: 'Arial bold';
  font-size: 25px;
  line-height: 31px;
}
@mixin arialRegular {
  font-family: 'Arial regular';
  font-size: 18px;
  line-height: 23px;
}
@mixin iconBefore($width, $height) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
}

::-webkit-scrollbar {
  width: 5px;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 30px 100px;
  .header {
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 120px;
    .titleName {
      margin: 0;
      @include neueHaasFont(70px, 70px);
      max-width: 310px;
      margin-right: 70px;
    }
    .subtitle {
      @include arialBold;
      max-width: 135px;
      margin-right: 260px;
      margin-bottom: 4px;
      span:nth-child(1) {
        text-transform: uppercase;
      }
    }
    .navBar {
      @include arialRegular;
      margin-bottom: 5px;
      ul {
        li {
          list-style: none;
          position: relative;
          a {
            padding-left: 57px;
          }
          .mail::before {
            @include iconBefore(30px, 19.5px);
            background-image: url(../img/mail-icon.svg);
          }
          .telegram::before {
            @include iconBefore(30px, 30px);
            background-image: url(../img/telegram-icon.svg);
          }
          .dribble::before {
            @include iconBefore(30px, 30px);
            background-image: url(../img/dribble-icon.svg);
          }
        }
        li:nth-child(2) {
          margin: 22px 0;
        }
      }
    }
    .headerRightMobile {
      display: none;
    }
  }
  .main {
    .aboutMeSection {
      .itemsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          max-width: 315px;
          width: 100%;
          margin-bottom: 120px;
          .itemTitle {
            margin: 0;
            @include neueHaasFont(60px, 60px);
            border-bottom: 2px solid #e9e9e9;
            padding-bottom: 40px;
          }
          .itemText {
            padding-top: 40px;
            p {
              color: #909090;
              @include arialRegular;
            }
          }
        }
      }
    }
    .educationSection {
      .itemTitle {
        margin: 0;
        @include neueHaasFont(60px, 60px);
        padding-bottom: 40px;
      }
      .itemsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          max-width: 315px;
          width: 100%;
          margin-bottom: 40px;
          .itemText {
            padding-top: 40px;
            border-top: 2px solid #e9e9e9;
            p {
              color: #909090;
              @include arialRegular;
            }
            span {
              @include arialBold;
              padding: 20px 0;
              display: block;
            }
          }
        }
      }
    }
    .workExperienceSection {
      margin-top: 80px;
      .itemTitle {
        margin: 0;
        @include neueHaasFont(60px, 60px);
        padding-bottom: 40px;
      }
      .itemsWrapper {
        .item {
          width: 100%;
          border-top: 2px solid #e9e9e9;
          padding: 40px 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          div {
            max-width: 270px;
            p {
              @include arialRegular;
              color: #909090;
            }
            span {
              @include arialBold;
              display: block;
              padding: 20px 0;
            }
          }
          p {
            max-width: 676px;
            @include arialRegular;
            color: #909090;
          }
        }
      }
    }
    .designSection {
      margin-top: 80px;
      .title {
        margin: 0;
        @include neueHaasFont(60px, 60px);
        margin-bottom: 40px;
      }
      .itemsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          max-width: 300px;
          cursor: pointer;
          p {
            @include arialBold;
            padding: 40px 0;
            border-top: 2px solid #e9e9e9;
          }
          img {
            margin-bottom: 40px;
            width: 300px;
            height: 205px;
          }
        }
      }
      .modal {
        background-color: rgba(#000000, 0.8);
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        text-align: center;
        .content {
          display: inline-block;
          max-width: 1100px;
          .closeBtn {
            position: fixed;
            top: 15px;
            right: 20px;
            cursor: pointer;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  .footer {
    border-top: 2px solid #909090;
    padding-top: 40px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .titleName {
      margin: 0;
      @include neueHaasFont(70px, 70px);
      color: #909090;
      max-width: 310px;
      margin-right: 70px;
    }
    .subtitle {
      @include arialBold;
      max-width: 135px;
      margin-right: 260px;
      margin-bottom: 4px;
      span:nth-child(1) {
        text-transform: uppercase;
        color: #909090;
      }
      span:nth-child(2) {
        color: #909090;
      }
    }
    .navBar {
      @include arialRegular;
      margin-bottom: 5px;
      ul {
        li {
          list-style: none;
          position: relative;
          a {
            padding-left: 57px;
          }
          .mail::before {
            @include iconBefore(30px, 19.5px);
            background-image: url(../img/mail-icon.svg);
          }
          .telegram::before {
            @include iconBefore(30px, 30px);
            background-image: url(../img/telegram-icon.svg);
          }
          .dribble::before {
            @include iconBefore(30px, 30px);
            background-image: url(../img/dribble-icon.svg);
          }
        }
        li:nth-child(2) {
          margin: 22px 0;
        }
      }
    }
    .footerRightMobile {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .header {
      .subtitle {
        margin-right: 200px;
      }
    }
    .footer {
      .subtitle {
        margin-right: 200px;
      }
    }
  }
}

@media (min-width: 780px) and (max-width: 1060px) {
  .container {
    .header {
      justify-content: space-between;
      .titleName {
        @include neueHaasFont(60px, 60px);
        margin-right: 0;
      }
      .subtitle {
        @include arialBold;
        font-size: 22px;
        line-height: 26px;
        margin-right: 25px;
      }
      .navBar {
        ul {
          li {
            a {
              padding-left: 43px;
            }
          }
          li:nth-child(2) {
            margin: 18px 0;
          }
        }
      }
    }
    .main {
      .aboutMeSection {
        .itemsWrapper {
          justify-content: flex-start;
          .item {
            margin-right: 45px;
          }
        }
      }
      .educationSection {
        .itemsWrapper {
          justify-content: flex-start;
          .item {
            margin-right: 45px;
          }
        }
      }
      .designSection {
        .itemsWrapper {
          justify-content: flex-start;
          .item {
            margin-right: 45px;
          }
        }
        .modal {
          .content {
            max-width: 780px;
          }
        }
      }
    }
    .footer {
      justify-content: space-between;
      .titleName {
        @include neueHaasFont(60px, 60px);
        margin-right: 0;
      }
      .subtitle {
        @include arialBold;
        font-size: 22px;
        line-height: 26px;
        margin-right: 25px;
      }
      .navBar {
        z-index: -1;
        ul {
          li {
            a {
              padding-left: 43px;
            }
          }
          li:nth-child(2) {
            margin: 18px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1006px) {
  .container {
    .main {
      .workExperienceSection {
        .itemsWrapper {
          .item {
            div {
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 779px) {
  .container {
    padding: 50px 15px;
    max-width: 375px;
    .header {
      padding-bottom: 30px;
      margin-bottom: 60px;
      justify-content: space-between;
      .titleName {
        display: inline-block;
        margin: 0;
        @include neueHaasFont(38px, 42px);
        max-width: 170px;
        margin-right: 0;
      }
      .subtitle {
        display: none;
      }
      .navBar {
        display: none;
      }
      .headerRightMobile {
        display: block;
        max-width: 130px;
        .subtitle {
          display: inline-block;
          @include arialBold;
          margin-right: 0;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 20px;
        }
        .navBarMobile {
          ul {
            min-width: 130px;
            display: flex;
            justify-content: space-between;
            li {
              list-style: none;
              a {
                outline: none;
              }
            }
          }
        }
      }
    }
    .main {
      .aboutMeSection {
        .itemsWrapper {
          justify-content: center;
          .item {
            margin-bottom: 60px;
            max-width: 375px;
            .itemTitle {
              @include neueHaasFont(38px, 46px);
              padding-bottom: 30px;
            }
            .itemText {
              padding-top: 30px;
            }
          }
        }
      }
      .educationSection {
        .itemTitle {
          @include neueHaasFont(38px, 46px);
          padding-bottom: 30px;
          margin-top: 60px;
        }
        .itemsWrapper {
          justify-content: center;
          .item {
            margin-bottom: 40px;
            max-width: 375px;
            .itemText {
              padding-top: 40px;
              border-top: 2px solid #e9e9e9;
              span {
                @include arialBold;
                font-size: 23px;
                line-height: 28px;
              }
            }
          }
        }
      }
      .workExperienceSection {
        margin-top: 80px;
        .itemTitle {
          @include neueHaasFont(38px, 46px);
          padding-bottom: 30px;
        }
        .itemsWrapper {
          .item {
            padding: 30px 0;
            justify-content: flex-start;
            div {
              span {
                padding: 15px 0;
              }
            }
          }
        }
      }
      .designSection {
        margin-top: 90px;
        .title {
          margin: 0;
          @include neueHaasFont(38px, 46px);
          margin-bottom: 30px;
        }
        .itemsWrapper {
          justify-content: center;
          .item {
            max-width: 375px;
            p {
              @include arialBold;
              font-size: 23px;
              padding: 30px 0;
            }
            img {
              width: 345px;
              height: 235px;
            }
          }
        }
        .modal {
          .content {
            max-width: 500px;
          }
        }
      }
    }
    .footer {
      padding-top: 30px;
      margin-top: 80px;
      justify-content: space-between;
      .titleName {
        display: inline-block;
        margin: 0;
        @include neueHaasFont(38px, 42px);
        max-width: 170px;
      }
      .subtitle {
        display: none;
      }
      .navBar {
        display: none;
      }
      .footerRightMobile {
        display: block;
        max-width: 130px;
        .subtitle {
          display: inline-block;
          @include arialBold;
          margin-right: 0;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 20px;
        }
        .navBarMobile {
          ul {
            min-width: 130px;
            display: flex;
            justify-content: space-between;
            li {
              list-style: none;
              a {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
